n8n-workflows/followup-dispatcher.json
{
  "name": "CRM Conversacional – Follow-Up Dispatcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "trigger-cron",
      "name": "Cron Trigger 1m",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/crm_settings?key=eq.followup_global_enabled&select=value",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            }
          ]
        }
      },
      "id": "get-global-status",
      "name": "Check Global Enabled",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.value }}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "id": "if-global-enabled",
      "name": "Is Module Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/followup_queue?status=eq.pending&scheduled_at=lte.{{ new Date().toISOString() }}&select=*,contacts:contact_id(*),channels:channel_id(*),followup_rules:rule_id(*)",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            }
          ]
        }
      },
      "id": "get-pending-items",
      "name": "Fetch Pending Queue Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        720,
        180
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/crm_settings?key=eq.company_name&select=value",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            }
          ]
        }
      },
      "id": "get-company-setting",
      "name": "Fetch Company Name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        940,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const queueItems = $('Fetch Pending Queue Items').all();\nconst companyNameJson = $('Fetch Company Name').first().json;\nconst companyName = companyNameJson?.value || 'Minha Empresa';\n\nif (queueItems.length === 0) {\n  return [];\n}\n\nreturn queueItems.map(itemObj => {\n  const item = itemObj.json || {};\n  const rule = item.followup_rules || {};\n  const contact = item.contacts || {};\n  const channel = item.channels || {};\n  \n  let text = rule.message || '';\n  text = text.replace(/{{contact_name}}/g, contact.name || 'Cliente');\n  text = text.replace(/{{agent_name}}/g, 'Atendente');\n  text = text.replace(/{{company_name}}/g, companyName);\n  \n  return {\n    json: {\n      queue_item_id: item.id,\n      rule_id: item.rule_id,\n      contact_id: item.contact_id,\n      channel_id: item.channel_id,\n      attempt_number: item.attempt_number || 1,\n      max_attempts: rule.max_attempts || 1,\n      delay_hours: rule.delay_hours || 24,\n      phone: contact.phone,\n      provider: channel.provider,\n      content: text,\n      \n      // Meta credentials\n      phone_id: channel.phone_id || (channel.credentials?.phone_id),\n      access_token: channel.access_token || (channel.credentials?.access_token),\n      \n      // Evolution credentials\n      evo_url: channel.url || (channel.credentials?.url),\n      evo_instance: channel.instance || (channel.credentials?.instance),\n      evo_api_key: channel.api_key || (channel.credentials?.api_key)\n    }\n  };\n});"
      },
      "id": "process-templates",
      "name": "Substitute Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.provider }}",
              "operation": "equal",
              "value2": "meta"
            }
          ]
        }
      },
      "id": "switch-rule-provider",
      "name": "Which Provider?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1380,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $json.phone_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.content }}\"\n  }\n}",
        "options": {}
      },
      "id": "send-followup-meta",
      "name": "Send Followup Meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1620,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.evo_url }}/message/sendText/{{ $json.evo_instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.evo_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}@s.whatsapp.net\",\n  \"text\": \"{{ $json.content }}\"\n}",
        "options": {}
      },
      "id": "send-followup-evo",
      "name": "Send Followup Evolution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1620,
        280
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/followup_queue?id=eq.{{ $('Substitute Variables').item.json.queue_item_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"sent\",\n  \"sent_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "update-queue-success",
      "name": "Update Queue Status Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1880,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel_id\": \"{{ $('Substitute Variables').item.json.channel_id }}\",\n  \"contact_id\": \"{{ $('Substitute Variables').item.json.contact_id }}\",\n  \"direction\": \"out\",\n  \"content\": \"{{ $('Substitute Variables').item.json.content }}\",\n  \"content_type\": \"text\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "insert-chat-message",
      "name": "Insert Msg in CRM History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2100,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Substitute Variables').item.json.attempt_number }}",
              "operation": "smaller",
              "value2": "={{ $('Substitute Variables').item.json.max_attempts }}"
            }
          ]
        }
      },
      "id": "check-attempts-limit",
      "name": "Re-queue Next Attempt?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2320,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/followup_queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"rule_id\": \"{{ $('Substitute Variables').item.json.rule_id }}\",\n  \"contact_id\": \"{{ $('Substitute Variables').item.json.contact_id }}\",\n  \"channel_id\": \"{{ $('Substitute Variables').item.json.channel_id }}\",\n  \"attempt_number\": {{ $('Substitute Variables').item.json.attempt_number + 1 }},\n  \"scheduled_at\": \"{{ new Date(Date.now() + ($('Substitute Variables').item.json.delay_hours * 60 * 60 * 1000)).toISOString() }}\",\n  \"status\": \"pending\"\n}",
        "options": {}
      },
      "id": "re-queue-item",
      "name": "Schedule Next Attempt in DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2560,
        80
      ]
    }
  ],
  "connections": {
    "Cron Trigger 1m": {
      "main": [
        [
          {
            "node": "Check Global Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Global Enabled": {
      "main": [
        [
          {
            "node": "Is Module Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Module Enabled?": {
      "main": [
        [
          {
            "node": "Fetch Pending Queue Items",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Pending Queue Items": {
      "main": [
        [
          {
            "node": "Fetch Company Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Company Name": {
      "main": [
        [
          {
            "node": "Substitute Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Substitute Variables": {
      "main": [
        [
          {
            "node": "Which Provider?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Which Provider?": {
      "main": [
        [
          {
            "node": "Send Followup Meta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Followup Evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Followup Meta": {
      "main": [
        [
          {
            "node": "Update Queue Status Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Followup Evolution": {
      "main": [
        [
          {
            "node": "Update Queue Status Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Queue Status Sent": {
      "main": [
        [
          {
            "node": "Insert Msg in CRM History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Msg in CRM History": {
      "main": [
        [
          {
            "node": "Re-queue Next Attempt?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-queue Next Attempt?": {
      "main": [
        [
          {
            "node": "Schedule Next Attempt in DB",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {}
}