scratch/meta_current.json
{
  "updatedAt": "2026-05-26T17:11:20.486Z",
  "createdAt": "2026-05-21T22:06:17.786Z",
  "id": "88zOQbdJAT7DOaET",
  "name": "WhatsApp Meta Official – Inbound Webhook",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/meta",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1d6629ba-7d5d-4e0e-b942-c0d0b82fe845",
      "name": "Meta Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "3718acc1-dff3-4f27-b56d-73b35b67d1a5"
    },
    {
      "parameters": {
        "jsCode": "// Parse Meta Cloud API webhook payload\nconst body = $input.first().json.body || $input.first().json;\n\nif (body['hub.mode'] === 'subscribe') {\n  return [{ json: { challenge: body['hub.challenge'] } }];\n}\n\nconst entry = body.entry?.[0];\nconst changes = entry?.changes?.[0];\nconst value = changes?.value;\nconst message = value?.messages?.[0];\nconst contact = value?.contacts?.[0];\n\nif (!message) {\n  return [{ json: { skip: true, reason: 'No message in payload' } }];\n}\n\nconst msgId = message.id;\nconst phone = message.from;\nconst contactName = contact?.profile?.name || phone;\nconst type = message.type || 'text';\nlet content = message.text?.body || message.caption || '';\nlet mediaUrl = null;\n\n// If message has media, resolve the URL from Meta API\nif (['image', 'audio', 'video', 'document'].includes(type)) {\n  const mediaObj = message[type];\n  const mediaId = mediaObj?.id;\n  \n  if (mediaId) {\n    try {\n      const supabaseUrl = \"https://ibyterftfrqgkhktkaeg.supabase.co\";\n      const serviceKey = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8\";\n      const channelId = \"4886443e-4996-4d2a-83e1-d96f503e1a28\";\n      \n      const channelsResp = await $helpers.httpRequest({\n        method: 'GET',\n        url: `${supabaseUrl}/rest/v1/channels?id=eq.${channelId}&select=access_token`,\n        headers: {\n          'apikey': serviceKey,\n          'Authorization': `Bearer ${serviceKey}`\n        }\n      });\n      \n      const accessToken = channelsResp?.[0]?.access_token;\n      \n      if (accessToken) {\n        const mediaResp = await $helpers.httpRequest({\n          method: 'GET',\n          url: `https://graph.facebook.com/v20.0/${mediaId}`,\n          headers: {\n            'Authorization': `Bearer ${accessToken}`\n          }\n        });\n        \n        mediaUrl = mediaResp?.url || null;\n      }\n    } catch (e) {\n      console.error('Error resolving Meta media URL:', e.message);\n    }\n  }\n  \n  if (!content) {\n    if (type === 'image') content = '[Imagem]';\n    else if (type === 'audio') content = '[Áudio]';\n    else if (type === 'video') content = '[Vídeo]';\n    else if (type === 'document') content = '[Documento]';\n    else content = '[Mídia]';\n  }\n}\n\nreturn [{\n  json: {\n    whatsapp_msg_id: msgId,\n    phone: phone,\n    contact_name: contactName,\n    direction: 'in',\n    content: content,\n    content_type: type,\n    media_url: mediaUrl,\n    timestamp: new Date(parseInt(message.timestamp) * 1000).toISOString(),\n    raw_payload: body\n  }\n}];"
      },
      "id": "261d6387-b099-4a21-a289-76b8c758aaa8",
      "name": "Parse Meta Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": true
            }
          ]
        }
      },
      "id": "d9c2d088-ac0d-42ce-b58e-ab11dc919585",
      "name": "Has Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check for duplicate message (idempotency)\nconst msgId = $json.whatsapp_msg_id;\n\n// Upsert contact\nconst contactResult = await $helpers.httpRequest({\n  method: 'POST',\n  url: \"https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/contacts?on_conflict=phone\",\n  headers: {\n    'apikey': \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8\",\n    'Authorization': \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8\",\n    'Content-Type': 'application/json',\n    'Prefer': 'resolution=merge-duplicates,return=representation'\n  },\n  body: JSON.stringify({\n    phone: $json.phone,\n    name: $json.contact_name\n  })\n});\n\nconst contactId = contactResult?.[0]?.id;\n\nreturn [{\n  json: {\n    ...$json,\n    contact_id: contactId\n  }\n}];"
      },
      "id": "767892d0-6059-45ba-be6f-30f96025ca32",
      "name": "Upsert Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel_id",
              "value": "4886443e-4996-4d2a-83e1-d96f503e1a28"
            },
            {
              "name": "contact_id",
              "value": "={{ $json.contact_id }}"
            },
            {
              "name": "direction",
              "value": "in"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "content_type",
              "value": "={{ $json.content_type }}"
            },
            {
              "name": "media_url",
              "value": "={{ $json.media_url }}"
            },
            {
              "name": "whatsapp_msg_id",
              "value": "={{ $json.whatsapp_msg_id }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "768d3699-117b-4346-bfb1-5fd614054dbf",
      "name": "Insert Message to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1160,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/webhook_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel_id",
              "value": "4886443e-4996-4d2a-83e1-d96f503e1a28"
            },
            {
              "name": "event_type",
              "value": "message.received"
            },
            {
              "name": "source",
              "value": "meta"
            },
            {
              "name": "status",
              "value": "processed"
            }
          ]
        },
        "options": {}
      },
      "id": "e682408c-9bf6-41f9-87a7-5436642d4ec5",
      "name": "Log Webhook Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1400,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/failed_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel_id",
              "value": "4886443e-4996-4d2a-83e1-d96f503e1a28"
            },
            {
              "name": "payload",
              "value": "={{ JSON.stringify($json) }}"
            },
            {
              "name": "error_message",
              "value": "={{ $json.error?.message || 'Unknown error' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c2149d80-0a6f-480e-8b6c-f32e2b8f3fab",
      "name": "Dead Letter Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1160,
        440
      ]
    }
  ],
  "connections": {
    "Meta Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Meta Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Meta Payload": {
      "main": [
        [
          {
            "node": "Has Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Message?": {
      "main": [
        [
          {
            "node": "Upsert Contact",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Upsert Contact": {
      "main": [
        [
          {
            "node": "Insert Message to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Message to Supabase": {
      "main": [
        [
          {
            "node": "Log Webhook Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "57abcfec-cbba-4027-8db1-9ecf8626e322",
  "activeVersionId": "57abcfec-cbba-4027-8db1-9ecf8626e322",
  "versionCounter": 119,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-21T22:06:17.794Z",
      "createdAt": "2026-05-21T22:06:17.794Z",
      "role": "workflow:owner",
      "workflowId": "88zOQbdJAT7DOaET",
      "projectId": "fIrNrWww8GxwH38w",
      "project": {
        "updatedAt": "2025-06-02T17:48:01.378Z",
        "createdAt": "2025-06-02T17:42:54.968Z",
        "id": "fIrNrWww8GxwH38w",
        "name": "Wilker Amaral <agenciawiks@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "27f66831-b616-40da-b6da-90d3ea12a46b"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-26T17:11:20.488Z",
    "createdAt": "2026-05-26T17:11:20.488Z",
    "versionId": "57abcfec-cbba-4027-8db1-9ecf8626e322",
    "workflowId": "88zOQbdJAT7DOaET",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "webhook/meta",
          "responseMode": "onReceived",
          "options": {}
        },
        "id": "1d6629ba-7d5d-4e0e-b942-c0d0b82fe845",
        "name": "Meta Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          240,
          300
        ],
        "webhookId": "3718acc1-dff3-4f27-b56d-73b35b67d1a5"
      },
      {
        "parameters": {
          "jsCode": "// Parse Meta Cloud API webhook payload\nconst body = $input.first().json.body || $input.first().json;\n\nif (body['hub.mode'] === 'subscribe') {\n  return [{ json: { challenge: body['hub.challenge'] } }];\n}\n\nconst entry = body.entry?.[0];\nconst changes = entry?.changes?.[0];\nconst value = changes?.value;\nconst message = value?.messages?.[0];\nconst contact = value?.contacts?.[0];\n\nif (!message) {\n  return [{ json: { skip: true, reason: 'No message in payload' } }];\n}\n\nconst msgId = message.id;\nconst phone = message.from;\nconst contactName = contact?.profile?.name || phone;\nconst type = message.type || 'text';\nlet content = message.text?.body || message.caption || '';\nlet mediaUrl = null;\n\n// If message has media, resolve the URL from Meta API\nif (['image', 'audio', 'video', 'document'].includes(type)) {\n  const mediaObj = message[type];\n  const mediaId = mediaObj?.id;\n  \n  if (mediaId) {\n    try {\n      const supabaseUrl = \"https://ibyterftfrqgkhktkaeg.supabase.co\";\n      const serviceKey = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8\";\n      const channelId = \"4886443e-4996-4d2a-83e1-d96f503e1a28\";\n      \n      const channelsResp = await $helpers.httpRequest({\n        method: 'GET',\n        url: `${supabaseUrl}/rest/v1/channels?id=eq.${channelId}&select=access_token`,\n        headers: {\n          'apikey': serviceKey,\n          'Authorization': `Bearer ${serviceKey}`\n        }\n      });\n      \n      const accessToken = channelsResp?.[0]?.access_token;\n      \n      if (accessToken) {\n        const mediaResp = await $helpers.httpRequest({\n          method: 'GET',\n          url: `https://graph.facebook.com/v20.0/${mediaId}`,\n          headers: {\n            'Authorization': `Bearer ${accessToken}`\n          }\n        });\n        \n        mediaUrl = mediaResp?.url || null;\n      }\n    } catch (e) {\n      console.error('Error resolving Meta media URL:', e.message);\n    }\n  }\n  \n  if (!content) {\n    if (type === 'image') content = '[Imagem]';\n    else if (type === 'audio') content = '[Áudio]';\n    else if (type === 'video') content = '[Vídeo]';\n    else if (type === 'document') content = '[Documento]';\n    else content = '[Mídia]';\n  }\n}\n\nreturn [{\n  json: {\n    whatsapp_msg_id: msgId,\n    phone: phone,\n    contact_name: contactName,\n    direction: 'in',\n    content: content,\n    content_type: type,\n    media_url: mediaUrl,\n    timestamp: new Date(parseInt(message.timestamp) * 1000).toISOString(),\n    raw_payload: body\n  }\n}];"
        },
        "id": "261d6387-b099-4a21-a289-76b8c758aaa8",
        "name": "Parse Meta Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.skip }}",
                "value2": true
              }
            ]
          }
        },
        "id": "d9c2d088-ac0d-42ce-b58e-ab11dc919585",
        "name": "Has Message?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          700,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "// Check for duplicate message (idempotency)\nconst msgId = $json.whatsapp_msg_id;\n\n// Upsert contact\nconst contactResult = await $helpers.httpRequest({\n  method: 'POST',\n  url: \"https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/contacts?on_conflict=phone\",\n  headers: {\n    'apikey': \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8\",\n    'Authorization': \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8\",\n    'Content-Type': 'application/json',\n    'Prefer': 'resolution=merge-duplicates,return=representation'\n  },\n  body: JSON.stringify({\n    phone: $json.phone,\n    name: $json.contact_name\n  })\n});\n\nconst contactId = contactResult?.[0]?.id;\n\nreturn [{\n  json: {\n    ...$json,\n    contact_id: contactId\n  }\n}];"
        },
        "id": "767892d0-6059-45ba-be6f-30f96025ca32",
        "name": "Upsert Contact",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          920,
          200
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "channel_id",
                "value": "4886443e-4996-4d2a-83e1-d96f503e1a28"
              },
              {
                "name": "contact_id",
                "value": "={{ $json.contact_id }}"
              },
              {
                "name": "direction",
                "value": "in"
              },
              {
                "name": "content",
                "value": "={{ $json.content }}"
              },
              {
                "name": "content_type",
                "value": "={{ $json.content_type }}"
              },
              {
                "name": "media_url",
                "value": "={{ $json.media_url }}"
              },
              {
                "name": "whatsapp_msg_id",
                "value": "={{ $json.whatsapp_msg_id }}"
              },
              {
                "name": "timestamp",
                "value": "={{ $json.timestamp }}"
              }
            ]
          },
          "options": {}
        },
        "id": "768d3699-117b-4346-bfb1-5fd614054dbf",
        "name": "Insert Message to Supabase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          1160,
          200
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/webhook_logs",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "channel_id",
                "value": "4886443e-4996-4d2a-83e1-d96f503e1a28"
              },
              {
                "name": "event_type",
                "value": "message.received"
              },
              {
                "name": "source",
                "value": "meta"
              },
              {
                "name": "status",
                "value": "processed"
              }
            ]
          },
          "options": {}
        },
        "id": "e682408c-9bf6-41f9-87a7-5436642d4ec5",
        "name": "Log Webhook Event",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          1400,
          200
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ibyterftfrqgkhktkaeg.supabase.co/rest/v1/failed_messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlieXRlcmZ0ZnJxZ2toa3RrYWVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ0OTgwMywiZXhwIjoyMDk0MDI1ODAzfQ.9ObjlZum0x9XQuZYVxBZJGzLKA_jbaz1wqxC4lMj_M8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "channel_id",
                "value": "4886443e-4996-4d2a-83e1-d96f503e1a28"
              },
              {
                "name": "payload",
                "value": "={{ JSON.stringify($json) }}"
              },
              {
                "name": "error_message",
                "value": "={{ $json.error?.message || 'Unknown error' }}"
              }
            ]
          },
          "options": {}
        },
        "id": "c2149d80-0a6f-480e-8b6c-f32e2b8f3fab",
        "name": "Dead Letter Queue",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          1160,
          440
        ]
      }
    ],
    "connections": {
      "Meta Webhook Trigger": {
        "main": [
          [
            {
              "node": "Parse Meta Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Meta Payload": {
        "main": [
          [
            {
              "node": "Has Message?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Message?": {
        "main": [
          [
            {
              "node": "Upsert Contact",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Upsert Contact": {
        "main": [
          [
            {
              "node": "Insert Message to Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Message to Supabase": {
        "main": [
          [
            {
              "node": "Log Webhook Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Wilker Amaral",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-26T17:11:20.620Z",
        "id": 550,
        "workflowId": "88zOQbdJAT7DOaET",
        "versionId": "57abcfec-cbba-4027-8db1-9ecf8626e322",
        "event": "activated",
        "userId": "27f66831-b616-40da-b6da-90d3ea12a46b"
      }
    ]
  }
}