scratch/outbound_workflow_backup.json
{
  "updatedAt": "2026-05-26T16:32:32.225Z",
  "createdAt": "2026-05-21T21:59:30.185Z",
  "id": "NFkf4R8DDJ2o7Sqx",
  "name": "WhatsApp – Outbound Send Message",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/send",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f5cc9383-b694-4e74-9248-ba5d41f0231d",
      "name": "Send Message Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        960,
        928
      ],
      "webhookId": "e4bd282f-d2b5-4023-b7c4-2befa00e1cf5"
    },
    {
      "parameters": {},
      "id": "36a82d05-75ba-4e5a-bff4-201382e2fd6e",
      "name": "Resolve Channel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1200,
        928
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.provider }}",
              "operation": "equals",
              "value2": "meta"
            }
          ]
        }
      },
      "id": "7ee5a4e9-db7b-4331-82dd-bf8b938158db",
      "name": "Which Provider?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1440,
        928
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $json.phone_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.content }}\"\n  }\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "3a5db98f-770f-4fbc-b4a2-dea74a35a623",
      "name": "Send via Meta API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1696,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.evo_url }}/message/sendText/{{ $json.evo_instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.evo_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}@s.whatsapp.net\",\n  \"text\": \"{{ $json.content }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "3100315a-c6ec-45f0-8294-e4cc73047a34",
      "name": "Send via Evolution API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1696,
        1040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel_id",
              "value": "={{ $json.channel_id || $input.first().json.channel_id }}"
            },
            {
              "name": "contact_id",
              "value": "={{ $json.contact_id || $input.first().json.contact_id }}"
            },
            {
              "name": "direction",
              "value": "out"
            },
            {
              "name": "content",
              "value": "={{ $json.content || $input.first().json.content }}"
            },
            {
              "name": "content_type",
              "value": "text"
            },
            {
              "name": "status",
              "value": "sent"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8f054d66-7182-4dfb-bcb9-5c2b9617b361",
      "name": "Log Outgoing Message1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1968,
        928
      ]
    },
    {
      "parameters": {},
      "id": "cf9b8f69-3960-4a69-a4de-214830b2d082",
      "name": "Response OK1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2208,
        928
      ]
    }
  ],
  "connections": {
    "Send Message Trigger": {
      "main": [
        [
          {
            "node": "Resolve Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Channel": {
      "main": [
        [
          {
            "node": "Which Provider?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Which Provider?1": {
      "main": [
        [
          {
            "node": "Send via Meta API1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send via Evolution API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Meta API1": {
      "main": [
        [
          {
            "node": "Log Outgoing Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Evolution API1": {
      "main": [
        [
          {
            "node": "Log Outgoing Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Outgoing Message1": {
      "main": [
        [
          {
            "node": "Response OK1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "6397de0f-28be-4f5e-b5f9-b4e61e4e08ac",
  "activeVersionId": "6397de0f-28be-4f5e-b5f9-b4e61e4e08ac",
  "versionCounter": 46,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-21T21:59:30.187Z",
      "createdAt": "2026-05-21T21:59:30.187Z",
      "role": "workflow:owner",
      "workflowId": "NFkf4R8DDJ2o7Sqx",
      "projectId": "fIrNrWww8GxwH38w",
      "project": {
        "updatedAt": "2025-06-02T17:48:01.378Z",
        "createdAt": "2025-06-02T17:42:54.968Z",
        "id": "fIrNrWww8GxwH38w",
        "name": "Wilker Amaral <agenciawiks@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "27f66831-b616-40da-b6da-90d3ea12a46b"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-26T16:32:33.000Z",
    "createdAt": "2026-05-26T16:32:32.226Z",
    "versionId": "6397de0f-28be-4f5e-b5f9-b4e61e4e08ac",
    "workflowId": "NFkf4R8DDJ2o7Sqx",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "webhook/send",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "f5cc9383-b694-4e74-9248-ba5d41f0231d",
        "name": "Send Message Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          960,
          928
        ],
        "webhookId": "e4bd282f-d2b5-4023-b7c4-2befa00e1cf5"
      },
      {
        "parameters": {},
        "id": "36a82d05-75ba-4e5a-bff4-201382e2fd6e",
        "name": "Resolve Channel",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          1200,
          928
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.provider }}",
                "operation": "equals",
                "value2": "meta"
              }
            ]
          }
        },
        "id": "7ee5a4e9-db7b-4331-82dd-bf8b938158db",
        "name": "Which Provider?1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1440,
          928
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.facebook.com/v20.0/{{ $json.phone_id }}/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer {{ $json.access_token }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.content }}\"\n  }\n}",
          "options": {
            "timeout": 15000
          }
        },
        "id": "3a5db98f-770f-4fbc-b4a2-dea74a35a623",
        "name": "Send via Meta API1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          1696,
          800
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $json.evo_url }}/message/sendText/{{ $json.evo_instance }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $json.evo_api_key }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"number\": \"{{ $json.phone }}@s.whatsapp.net\",\n  \"text\": \"{{ $json.content }}\"\n}",
          "options": {
            "timeout": 15000
          }
        },
        "id": "3100315a-c6ec-45f0-8294-e4cc73047a34",
        "name": "Send via Evolution API1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          1696,
          1040
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "channel_id",
                "value": "={{ $json.channel_id || $input.first().json.channel_id }}"
              },
              {
                "name": "contact_id",
                "value": "={{ $json.contact_id || $input.first().json.contact_id }}"
              },
              {
                "name": "direction",
                "value": "out"
              },
              {
                "name": "content",
                "value": "={{ $json.content || $input.first().json.content }}"
              },
              {
                "name": "content_type",
                "value": "text"
              },
              {
                "name": "status",
                "value": "sent"
              },
              {
                "name": "timestamp",
                "value": "={{ new Date().toISOString() }}"
              }
            ]
          },
          "options": {}
        },
        "id": "8f054d66-7182-4dfb-bcb9-5c2b9617b361",
        "name": "Log Outgoing Message1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          1968,
          928
        ]
      },
      {
        "parameters": {},
        "id": "cf9b8f69-3960-4a69-a4de-214830b2d082",
        "name": "Response OK1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          2208,
          928
        ]
      }
    ],
    "connections": {
      "Send Message Trigger": {
        "main": [
          [
            {
              "node": "Resolve Channel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resolve Channel": {
        "main": [
          [
            {
              "node": "Which Provider?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Which Provider?1": {
        "main": [
          [
            {
              "node": "Send via Meta API1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send via Evolution API1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send via Meta API1": {
        "main": [
          [
            {
              "node": "Log Outgoing Message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send via Evolution API1": {
        "main": [
          [
            {
              "node": "Log Outgoing Message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Outgoing Message1": {
        "main": [
          [
            {
              "node": "Response OK1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Wilker Amaral",
    "name": "Version 6397de0f",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-26T16:32:33.415Z",
        "id": 526,
        "workflowId": "NFkf4R8DDJ2o7Sqx",
        "versionId": "6397de0f-28be-4f5e-b5f9-b4e61e4e08ac",
        "event": "activated",
        "userId": "27f66831-b616-40da-b6da-90d3ea12a46b"
      }
    ]
  }
}